﻿
@{
    ViewBag.Title = "Home page";
}


<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="product-props">
                <li>Price: $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: </li>
                <li>Description: Self portrait</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>

        <div>
            <form id="theForm">
                <label>Your name:</label>
                <br />
                <input />
                <br />
                <label>Email:</label>
                <br />
                <input type="email" />
                <br />
                <label>Subject:</label>
                <br />
                <input type="text" />
                <br />
                <label>Message:</label>
                <br />
                <textarea rows="4"></textarea>
                <br />
                <input type="submit" value="Send message" />
            </form>
        </div>

        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label for="username">Username:</label>
                    <input id="username"/>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input id="password" type="password" />
                </div>
                <div>
                    <input id="remember-checkbox" type="checkbox" />
                    <label for="remember-checkbox">Remember me</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <p>This is a fun site from the CoreStore2 Corporation.</p>
    </div>
</div>
