﻿


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CoreProject: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <header class="container">
            <div class="navbar-header">
                <div class="navbar-brand"><i class="fa fa-paint-brush"></i>CoreStore2</div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button> <!--Hamburger button-->
            </div>
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="App" asp-action="Index">Home</a></li> <!--Using tag helpers for more robust links-->
                    <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                    <li><a asp-controller="App" asp-action="About">About</a></li>
                    <li><a asp-controller="App" asp-action="Shop">Shop</a></li>
                </ul>
            </div>
        </header>
    </div>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container"><div class="text-center">Copyright 2018 CoreStore2</div></footer>




    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @*  If one of the pages creates a section called 'scripts', put it here in this layout, but it is not required.
        In this way we can put sections of a page that are emitted onto the Layout page somewhere else besides RenderBody().
        See Contact.cshtml for how to define a section called "scripts".*@
    @RenderSection("scripts", false) @*Not every page will need this.*@
</body>
</html>