﻿@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section scripts { @*This should match the name of the RenderSection in _Layout.cshtml. *@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3"></div>
    <form>
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control"/>
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Username</label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input asp-for="RememberMe" type="checkbox" class="form-control"/>
            <label asp-for="RememberMe">Remember me</label>
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-success"/>
        </div>
    </form>
</div>