﻿
/*body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input, textarea {
    font-size: 18px;
    width: 200px;
}

input[type=submit] { //Wins due to higher specificity. Cool, a specific type of input. 
    width:auto;
}

label{
    font-size: 16px;
}

#theForm {
    background-color: #dcdcdc;
}

#theForm input[type=submit]{
    background-color: green;
    color: white;
}

ul.product-props {
    font-size: small;
}

ul.product-props li{
    list-style-type: none;
}

.product-info{
    border: 1px solid grey;
    display: inline-block; //Allows for more than one next to each other
    padding 8px 2px;
    margin: 2px;
    width: 450px;
    background-color: lightgrey;
    border-radius: 5px;
}

.product-info img{
    margin: 3px;
    float: left;
    border: 1px solid black;
    max-width: 150px;
    
}

#loginToggle{
    cursor: pointer;
}

.popup-form{
    padding: 5px;
    border: 2px black outset;
    display: inline-block;
}

.popup-form input{
    width: 200px;
}

.popup-form label{
    width: 150px;
    display: inline-block;
}

.popup-form input[type=checkbox], input[type=submit]{
    width: auto;
}

menu li{ //li is some child of menu. If I only want direct children, use menu>ul>li 
    display: inline;
}

menu li:after {
    content: ' |';
}

menu li:last-of-type::after{
    content: "";
}*/